@import "../../styles/variables.scss";

.offert {
    @include display-flex-column;
    @include gradient-background;
    width: 100%;

    color: $white;
    padding-bottom: 30px;
    
    .offert__photo {
        width: 100%;
        width: 90%;
        border-radius: 20px;
        clip-path: polygon(70% 0, 88% 21%, 76% 53%, 98% 100%, 47% 88%, 2% 96%, 11% 46%, 4% 2%, 38% 11%);
    }
    .offert__kicker {
        margin-top: 60px;
        color: $white;
        font-weight: 300;
        font-size: 2.7rem;
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
    .offert .offert__photo {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .offert .offert__photo {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 45%;
    }
}