@import "../../styles/variables.scss";

.offert {
    @include display-flex-column;
    width: 100%;
    padding-bottom: 30px;
    color: $white;
    background-color: $white;
    .offert__photo {
        width: 100%;
        width: 90%;
        border-radius: 20px;
    }
    .offert__kicker {
        margin-top: 60px;
        color: $blue;
        font-weight: 300;
        font-size: 2.7rem;
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
    .offert .offert__photo {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .offert .offert__photo {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 45%;
    }
}