@import "../../styles/variables.scss";

.offert__main-list {
    width: 90vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.offert__item-topic {
    color: $blue; 
}
.react-tabs__tab {
    border: none;
}
.react-tabs__tab-list {
    margin: 20px 0;
    padding-bottom: 5px;
    padding: 0;
    justify-content: space-around !important;
    list-style-type: none;
    @include display-flex-row;
}

.react-tabs__tab--selected {
    background: transparent !important;
    border-color: $blue !important;
    color: $yellow !important;
    border-bottom: 3px solid $yellow !important;
}