@import "../../styles/variables.scss";

.offert__main-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $black;
}
.offert__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    padding-top: 10px;
    padding-bottom: 50px;
}

.offert__tab-photo:last-child {
    margin: 0 auto;
}
.offert__item-topic {
    color: $blue; 
}
.ofert__paragraph {
    font-size:1.2rem;
}
.react-tabs__tab {
    padding: 10px 20px;
    border: 1px solid $black;
    cursor: pointer;
}
.react-tabs__tab-list {
    margin: 40px 0;
    margin-bottom: 40px;
    padding: 0;
    justify-content: space-around !important;
    list-style-type: none;
    color: $gray;
    @include display-flex-row;
}

.react-tabs__tab--selected {
    background: $black !important;
    border-color: $black !important;
    color: $white !important;
    transition: all 0.7s ease-in-out;
}


@media screen and (min-width: 1300px) {
    .offert__main-list {
        width: 50%
    }
    .offert__container {
        flex-direction: row;
        justify-content: space-around;
    }
    .offert__container--reverse {
        flex-direction: row-reverse;
    }
    .tab__package-content {
        width: 50%
    }
}

