@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

// Font
$mainFont: 'Raleway';

// Colors 
$yellow: #f0ec0b;
$white: #FFFFFF;
$blue: #2892d7;
$black: #161616;
$gray: #2e2e2e;

//Mixins
@mixin display-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin display-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}