@import '../../styles/variables.scss';

.faq {
    width: 100%;
    height: auto;
    background-color: $white;
    color: $black;
    @include display-flex-column;
    .faq__kicker {
        margin-top: 80px;
        color: $blue;
        font-weight: 300;
        font-size: 2.7rem;
        text-align: center;
    }
    .faq__my-photo {
        margin: 0px 0px;
        width: 90%;
        border-radius: 20px;
    }
    .faq__list {
        list-style-type: none;
        padding: 0;
        width: 90%;
    }
    .faq__note {
        width: 90%;
        font-size: 0.9rem;
        color: $blue;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 500px) {
    .faq .faq__my-photo {
        width: 80%;
    }
}

@media screen and (min-width: 700px) {
    .faq__kicker {
        margin-bottom: -30px;
    }
    .faq .faq__my-photo {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 45%;
    }
}