@import "../../styles/variables.scss";

.background-video {
    position: fixed;
    left: -400px;
    margin-right: 0 !important;
    padding: 0;
    width: 100vw;
    z-index: -100;
    overflow-y: hidden; 
}

.filter {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: -50;
    .video-logo {
        width: 200px;
    
    }
    .video-button {
        padding: 10px 25px;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 5px;
        font-family: $mainFont;
        font-size: 1.3rem;
        font-weight: 100;
        z-index: 100;
        text-transform: none;
        cursor: pointer;
    }
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
        display: block; 
        margin: auto;
    }
}
@media screen and (min-width: 355px){
    .background-video {
        position: fixed;
        left: -280px;
    }
}

@media screen and (min-width: 500px){
    .background-video {
        position: fixed;
        left: -200px;
    }
}
@media screen and (min-width: 500px){
    .background-video {
        position: fixed;
        left: -100px;
    }
}

@media screen and (min-width: 679px){
    .background-video {
        position: fixed;
        left: -50px;
    }
}

@media screen and (min-width: 731px) {
    .background-video {
        position: fixed;
        left: 0;
    }
}

