@import '../../styles/variables.scss';

.contact-me {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    color: $black;
    @include display-flex-column;
    .contact-me__kicker {
        margin-top: 30px;
        color: $blue;
        font-weight: 300;
        font-size: 2.7rem;
        text-align: center;
    }
    .contact-me__logo {
        margin-top: -40px;
        width: 45%;
    }
    .contact-me__info {
        width: 90%;
    }
}

.contact-me__info {
    @include display-flex-column;
    margin-top: -30px;
    .info-container {
        width: 340px;
    }
    .info__detail {
        display: flex;

        color: $black;
        align-items: center;
        justify-content: flex-start;
        &:first-child {
            font-size: 1.2rem;
        }
    }
    .info__social-container {
        margin: 0;
        padding: 0;
        width: 100%;

        @include display-flex-row;
    }
    .info__icon {
        padding: 10px;
        width: 50px;
    }
    .info__contact-form {
        text-align: center;
        font-size: 1rem;
        color: $black;
        cursor: pointer;
    }
}

@media screen and (min-width: 600px) {
    .contact-me .contact-me__logo {
        margin-top: -40px;
        width: 269px;
    } 
    .contact-me__info .info__contact-form {
        margin: 20px 0;
    }
}

@media screen and (min-width: 1200px) {
    .contact-me .contact-me__logo {
        margin-top: -40px;
        width: 269px;
    } 
    .contact-me__info .info__contact-form {
        margin: 40px 0;
        font-size: 1.8rem;
    }
}
