@import '../../styles/variables.scss';

.about-me {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;
    @include gradient-background;
    
    .my-photo {
        width: 200px !important;
        height: 200px !important;
        margin-top: 60px;
        border-radius: 50%;
    }
    .hello {
        color: $blue;
        font-weight: 300;
        font-size: 2.7rem;
    }
    .my-chest, .my-biceps {
        margin: 30px 0px;
        width: 90%;
        border-radius: 20px;
        clip-path: polygon(50% 0%, 74% 16%, 100% 0, 100% 70%, 81% 71%, 74% 100%, 30% 76%, 0 100%, 0 39%, 17% 41%);
    }
    .my-biceps {
        clip-path: polygon(50% 0%, 79% 24%, 100% 12%, 100% 70%, 87% 96%, 54% 81%, 19% 100%, 0% 70%, 31% 23%, 20% 10%);
    }
    .about-me__description {
        @include display-flex-column;
        margin-bottom: 30px;
        width: 90%;
        text-align: justify;
    }
    .about-me__container {
        @include display-flex-column;
        width: 100%;
        margin-bottom: 30px;
        text-align: justify;
    }
}

@media screen and (min-width: 1400px) {
    .about-me .my-photo {
        width: 400px;
        height: 400px;
        margin-top: 60px;
        border-radius: 50%;
    }
    .about-me .about-me__container {
        @include display-flex-row;  
        margin-top: 150px;
    }
    .about-me__container:last-child {
        flex-direction: row-reverse;
    }
    .about-me__description_paraghraph {
        width: 60%;
        margin-right: 10%;
    }
    .about-me__description_paraghraph-last {
        margin-left: 10%;
        margin-right: 0;
    }
    .about-me__container .my-chest {
        margin: 10px 0px;
        width: 600px;
        border-radius: 20px;
    }
    .about-me__container .my-biceps {
        margin: 10px 0px;
        width: 600px;
        border-radius: 20px;
    }
}